{% extends 'newsBlog/base.html'%}

{% block content%}


            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Page Heading
                    <small>Secondary Text</small>
                </h1>
                {% for post in page_obj %}
                <!-- First Blog Post -->
                <h2>
                    <a href="{% url 'post' id=post.pk %}">{{ post.title }}</a>
                </h2>
                <p class="lead">
                    by: <a href="index.php">{{post.user}}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span> {{ post.published_date }}</p>
                <hr>
                <img class="img-responsive" src="{{ post.image }}" alt="">
                <hr>
                <p>{{ post.content|truncatewords:20 }}</p>
                <a class="btn btn-primary" href="{% url 'post' id=post.pk %}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>

                {% endfor %}
             <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
</div>
            </div>
    {% endblock %}

